* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  background-color: #000000;
}

.container {
  max-width: 1250px;
  position: relative;
  margin: 0 auto;
  
}

@media (max-width: 1200px) {
    .container {
      max-width: 100%;
      padding: 10px
    }
}


@import "blocks/header.scss";
@import "media/header_media.scss";
@import "blocks/info.scss";
@import "media/info_media.scss";
